* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: black;
  color: white;
  text-align: center;
}

.page-title {
  margin: 30px;
  font-weight: normal;
  font-size: 50px;
  text-align: center;
}

.download-link {
  color: aquamarine;
  font-size: 16px;
}

.preview-video {
  margin: 20px;
}

.picture-header {
  font-weight: 300;
  font-size: 42px;
  margin: 40px;
}

.app-description {
  font-size: 21px;
  color: gray;
  margin-bottom: 25px;
}

.cellphone-icon {
  margin-top: 25px;
}

.add-margin-bottom {
  display: block;
  margin-bottom: 50px;
}

.copyright {
  margin: 20px;
  text-align: right;
  color: gray;
}
